<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Partner Finder</a>
  

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>
<!--after login-->
    <div *ngIf="IsLoggedIn()" class="dropdown">     
      <a class="dropdown-toggle text-light">
        Welcome {{authservice.decodedToken?.unique_name | titlecase}}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']">
          <i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="Logout()">
          <i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>

<!--login form-->
    <form *ngIf="!IsLoggedIn()" #loginFrom="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="Login()">
      <input class="form-control mr-sm-2" type="text" name="Email" placeholder="Email" required [(ngModel)]="model.Email"> <!--2 way inding-->
      <input class="form-control mr-sm-2" type="password" name="Password" placeholder="Password" required [(ngModel)]="model.Password">
      <button [disabled]="!loginFrom.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  
</nav>