<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >Partner Finder</a>
  

    <ul *ngIf="IsLoggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/members']">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/lists']">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/message']">Messages</a>
      </li>
    </ul>
<!--after login-->
    <div *ngIf="IsLoggedIn()" class="col text-right">     
      <a class="text-light mr-2">
        Welcome {{authservice.decodedToken?.unique_name | titlecase}}
      </a>
      <button type="button" class="btn btn-danger" (click)="Logout()"><i class="fa fa-sign-out"></i></button>
      <!--<div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']">
          <i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div> -->
        
    </div>

<!--login form-->
    <form *ngIf="!IsLoggedIn()" #loginFrom="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="Login()">
      <input class="form-control mr-sm-2" type="text" name="Email" placeholder="Email" required [(ngModel)]="model.Email"> <!--2 way inding-->
      <input class="form-control mr-sm-2" type="password" name="Password" placeholder="Password" required [(ngModel)]="model.Password">
      <button [disabled]="!loginFrom.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  
</nav>